@import "tailwindcss";

:root,
html,
body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  color: #cfd1db;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: "Source Sans Pro", "Segoe UI", sans-serif;
}

/* Thin scrollbars to match dark theme */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #b5b7be;
  border-radius: 4px;
  width: 4px;
}

::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1;
}
